<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
          <a href="{% url 'home' %}">Home</a>
        </nav>
      </header>
    <main>
        <div>
            <h1>Sign Up</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>SignUp</button>
            </form>
        </div>
    </main>
</body>
</html>
